<div id="classesView">
  <p-table
    [columns]="cols"
    [value]="classes"
    selectionMode="single"
    [(selection)]="selectedClass"
    (onRowSelect)="onRowSelect($event)"
    [paginator]="true"
    [rows]="15"
  >
  </p-table>

  <p-dialog
    header="Class Details"
    [(visible)]="displayDialog"
    [focusOnShow]="false"
    [responsive]="true"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '300px' }"
  >
    <div class="p-grid ui-fluid" *ngIf="class">
      <div class="p-col-4">
        <label for="vin">Code</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="code" [(ngModel)]="class.code" autofocus />
      </div>
      <div class="p-col-4">
        <label for="year">Name</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="name" [(ngModel)]="class.name" />
      </div>
      <div class="p-col-4">
        <label for="brand">Once Per Week</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="oncePerWeek" [(ngModel)]="class.oncePerWeek" />
      </div>
      <div class="p-col-4">
        <label for="color">Day One</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="dayOne" [(ngModel)]="class.dayOne" />
      </div>
      <div class="p-col-4">
        <label for="color">Day One Start Time</label>
      </div>
      <div class="p-col-8">
        <input
          pInputText
          id="dayOneStartTime"
          [(ngModel)]="class.dayOneTimeStart"
        />
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          icon="pi pi-times"
          (click)="delete()"
          label="Delete"
          class="p-button-raised p-button-danger"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-check"
          (click)="save()"
          label="Save"
          class="p-button-raised p-button-success"
        ></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
