#classesView {
  #classes {
    .buttons {
      float: right;

      button {
        margin: 5px;
      }
    }
    .class {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 15px;

      .buttons {
        button {
          margin: 5px;
        }
      }
    }
  }

  .dayOfWeek {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    margin: 3px;
    border-radius: 50%;
  }
}

.p-dialog .p-dialog-header {
  background: #333;
}
