<div id="classesView">

  <p-table
    [columns]="cols"
    selectionMode="single"
    [(selection)]="selectedEvent"
    (onRowSelect)="onRowSelect($event)"
    [paginator]="true"
    [rows]="15"
    [value]="events"
  >
    <ng-template pTemplate="caption">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="showDialogToAdd()"
      ></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-events>
      <tr>
        <td>
          {{events.title}}
        </td>
        <td>
          {{events.meta}}
        </td>
        
        <td colspan="2">
          <div >
            <p-selectButton [options]="days"  multiple="multiple"></p-selectButton>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="Class Details"
    [(visible)]="displayDialog"
    [focusOnShow]="false"
    [responsive]="true"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '300px' }"
  >
    <div class="p-grid ui-fluid" *ngIf="event">
      <div class="p-col-4">
        <label for="vin">Name</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="title" [(ngModel)]="event.title" autofocus />
      </div>
      <div class="p-col-4">
        <label for="year">Type</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="meta" [(ngModel)]="event.meta" />
      </div>
      <div class="p-col-4">
        <label for="year">Days</label>
      </div>
      <div class="p-col-8">
        
        <input pInputText id="meta" [(ngModel)]="event.meta" />
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          icon="pi pi-times"
          (click)="delete()"
          label="Delete"
          class="p-button-raised p-button-danger"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-check"
          (click)="save()"
          label="Save"
          class="p-button-raised p-button-success"
        ></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
