<div id="calendar">
  <div id="calendarSettings">
    <p-panel header="Settings">
      <p-header>
        <button pButton label="Add/Edit" routerLink="/eventsView"></button>
      </p-header>
      <p-panel header="Events" toggleable="true">
        <!-- Work -->
        <div>
          <label>Work</label>
          <p-slider [(ngModel)]="work"></p-slider>
          {{ work }}
        </div>

        <!-- Gym -->
        <div>
          <label>Gym</label>
          <p-slider [(ngModel)]="play"></p-slider>
          {{ play }}
        </div>
      </p-panel>

      <br />

      <p-panel header="Calendars" toggleable="true">
        <div class="calendar">all</div>
        {{allView}}
        <div class="calendar">work</div>
        {{workView}}
        <div class="calendar">play</div>
        {{playView}}
      </p-panel>
    </p-panel>
  </div>
  <!-- Calendar View -->
  <div [ngSwitch]="view" id="calendarView">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [dayStartHour]="0"
      [events]="events"
      (eventTimesChanged)="eventDropped($event)"
    >
    </mwl-calendar-week-view>
  </div>
</div>
