#calendar {
  margin: 5px 0px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;

  #calendarSettings {
    height: 100%;
    width: 100%;
  }

  .calendar {
    text-align: center;
    border: 1px solid #333;
    border-radius: 14px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  .panel .p-panel-header {
    background: #333;
  }
}
