<div id="calendar">
  <div id="calendarSettings">
    <p-panel header="Settings">
      <div class="container">Events</div>
      <div class="container">
        <div>
          <label>Work</label>
          <p-slider [(ngModel)]="val"></p-slider>
        </div>
      </div>
    </p-panel>
  </div>
  <!-- Calendar View -->
  <div [ngSwitch]="view" id="calendarView">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [dayStartHour]="0"
      [events]="events"
    >
    </mwl-calendar-week-view>
  </div>
</div>
